*{
    box-sizing: border-box;
}

html{
    margin: 0 auto;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

.wrapper{
    display:grid;
    grid-gap:25px;
    margin: 1.5rem;
}

.label{
    display:none;
    min-height: 60px;
    font-size: 2rem;
}

#toggle{
    display:none;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(58, 58, 58);
}
.menu a:hover{
    color:black;
    font-weight: 550;
}

.showcase{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8) ),url("https://source.unsplash.com/random?computer");
    background-size:cover;
    background-color:rgb(124, 124, 124);
    padding: 3rem;
    min-height:400px;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(20, 20, 20, 0.8);
}
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
}

.showcase p{
    font-size: 1.5rem;
}

.btn{
    padding: 15px 30px;
    background: rgb(55, 55, 56);
    color:white;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(38, 38, 39, 0.8);
}

.btn:hover{
    color:rgb(135, 135, 240);
}
.boxes{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-align:center;
}
.box{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c4def7, #9cc8e4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #c4def7, #9cc8e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
    box-shadow: 0 1px 5px rgba(38, 38, 39, 0.8);
}

.info{
    background: #9cc8e4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c4def7, #9cc8e4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #c4def7, #9cc8e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 5px rgba(38, 38, 39, 0.8);
    display:grid;
    grid-gap:30px;
    grid-template-columns: repeat(2,1fr);
    padding:3rem;
}

.info p{
    margin-bottom: 2rem;
}

.portfolio{
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));   
}

.portfolio img{
    width: 100%;
    box-shadow: 0 1px 5px rgba(38, 38, 39, 0.8);
}

footer{
    padding: 2rem;
    background: #9cc8e4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c4def7, #9cc8e4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0a1d2e, #226f9e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 5px rgba(38, 38, 39, 0.8);
    text-align:center;
    color:white;
}

@media screen and (max-width: 600px){
    .showcase h1{
        font-size: 2.5rem;
    }
    .label{
        display:block;
        float:right;
        cursor: pointer;
    }
    .menu{
        clear:right;
        text-align:center;
        width:100%;
        display:none;
    }
    .menu a{
        display:block;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid;
    }
    #toggle:checked + .menu{
        display:block;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display:block;
        text-align:center;
        margin:auto;
        text-transform:toupper;
    }

}